.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // text-align: center;

  & button {
    margin-left: 20px;
    // background: linear-gradient( to right, #8E0E00, #1F1C18);
    // border: none;
  }
}

.col-container {
  margin-top: 20px;
  // text-align: center;
}

.ubication-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}